* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: Overpass, sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    background-color: hsl(213, 19%, 18%);
    color: white;
    border-radius: 24px;
    width: 400px;
    padding: 1.8rem;
}

#front {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
}

#front img {
    background-color: hsl(213, 15%, 23%);
    border-radius: 50%;
    padding: .7rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 0.5rem;
    font-size: .95rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0.5rem;
}

button {
    border: none;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 15%, 23%);
    font-weight: 700;
    cursor: pointer;
    margin-bottom: .5rem;
}

li button:hover:not(.active) {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
}

.active {
    background-color: white;
    color: hsl(216, 12%, 8%);
}

#submitBtn {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
    width: 100%;
    border-radius: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: white;
    color: hsl(216, 12%, 8%);
}